---
layout: layouts/notfullscreenbase.njk
permalink: /about/
page_title: About Us
---
<br><br>
<div class="heading2 main_color center">
    About Us
</div>
<br>
<img src="/images/gugdncr.svg" class="center" width="300">
<div class="text_content content_padding main_color">
    
    <h4><b>Who are we?</b></h4>
    We are GNOME Users Group Delhi - NCR, we host events to bring together - Open Source, Free software, and GNOME lovers together.
    We are NOT a part of GNOME and act as a separate entity.
    <br><br>
    
    <h4><b>Purpose of our existence</b></h4>
    In Delhi - NCR region we didn't use to have any active GNOME User Group, hence we created this group. 
    Although we are not limited to GNOME users, instead we promote anything which inclines with our vision, like - Free software, Open Source, Linux, etc...

    We are not associated with any one entity, instead, we act as unofficial representatives to connect entities seeking to do events with the GNOME Foundation.
    <br><br>
    
    <h4><b>How to connect with us?</b></h4>
    The group is currently very small, thus delay in response can be expected, but we'll try to respond as soon as we can.
    You can reach out to us through the contact page, either via the form or by directly mailing us.
    <br><br>

    <h4><b>Disclaimer</b></h4>
    GNOME is a registered trademark of GNOME Foundation. <a href="https://foundation.gnome.org/logo-and-trademarks/">Click Here for more info</a>
    <br>
    As we are a part of the GNOME community and so by extension are our events and members, all participants of our events and forums must observe <a href="https://wiki.gnome.org/Foundation/CodeOfConduct">GNOME's Code of Conduct</a>
</div>
