---
layout: layouts/notfullscreenbase.njk
permalink: /contact/
page_title: Contact Us
---

<!-- Main Content  -->
<div id="contact">
    <h2 class="gnome_blue">Contact form</h2>
    <a href="https://forms.gle/r48EswyJK6irG6uS9">Contact Google form</a>
</div>
<div id="personal-contact">
    <h2 class="gnome_blue">Group lead</h4>
    <h4>Aryan Kaushik</h4>
    <p>(GSoC'22 Intern at GNOME Foundation)</p>

    Email - <a href="mailto:gnome-dncr@aryank.in" class="link">gnome-dncr@aryank.in</a> 
    <br>
    Matrix / Element (Aryan) - @lucifer_rekt:matrix.org
    <br>
    Matrix / Element (Group) - #gug-dncr:matrix.org
    <br><br>
    <div id="Social">
        <a href="https://github.com/Aryan20" class="fa fa-brands fa-github" target="blank"></a>
        <a href="https://www.linkedin.com/in/aryan-kaushik23/" class="fa fa-brands fa-linkedin"
            target="blank"></a>
        <a href="https://gitlab.gnome.org/Aryan20" class="fa fa-brands fa-gitlab" target="blank"></a>
        <a href="https://www.linkedin.com/company/gnome-ug-dncr/" class="fa fa-brands fa-linkedin" target="blank"></a>
    </div>
</div>
