---
layout: layouts/notfullscreenbase.njk
permalink: /events/
page_title: Our Events
---

<!-- Main Content  -->
<div class="container" style="margin-top:60px; ">
    <div class="row">
        <div class="col-sm-12 col-lg-12">
            <div id="slideshow" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#slideshow" data-slide-to="0" class="active"></li>
                    <li data-target="#slideshow" data-slide-to="1"></li>
                    <li data-target="#slideshow" data-slide-to="2"></li>
                    {# <li data-target="#slideshow" data-slide-to="3"></li>
                    <li data-target="#slideshow" data-slide-to="4"></li> #}
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <picture>
                            <source class="d-block w-100" srcset="/images/event_1.avif" type="image/avif">
                            <img class="d-block w-100" src="/images/event_1.png" alt="GSoC Info Session 11 jan'23">
                        </picture>
                        <div class="carousel-caption d-none d-md-block">
                            {# <h5>Lets do one together!</h5> #}
                        </div>
                    </div>
                    <div class="carousel-item">
                        <picture>
                            <source class="d-block w-100" srcset="/images/event_2.avif" type="image/avif">
                            <img class="d-block w-100" src="/images/event_2.png" alt="Decoding Open Source and GSoC 1 Feb'23">
                        </picture>
                    </div>
                    <div class="carousel-item">
                        <picture>
                            <source class="d-block w-100" srcset="/images/event_3.avif" type="image/avif">
                            <img class="d-block w-100" src="/images/event_3.png" alt="GSoCxBMU, 24 November 2023">
                        </picture>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#slideshow" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#slideshow" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    <hr><br><br>
    <div class="row">
        <div class="col-sm-12 col-lg-12">
            <h1 class="content">Events</h1>
            <br>
            <ol class="content_2">
                <li>
                    <b><u>GSoC Info Session 11 Jan'23</u></b> <br>
                    Our group lead, Aryan Kaushik, conducted an interactive session at KIET Group of Institutions for CS 2nd year students on GSoC and other similar opportunities in open source, where we not only tried to solve queries and bust myths about GSoC and open source in general but also shed some light on the GNOME Foundation and how to become a GNOME contributor.
                    <br>
                    Towards the end, students also got to know about some prospective projects under GNOME.
                    <br>
                    Presentation available at - <a href="https://drive.google.com/file/d/10ZLEhRxZAsU1BVCQg9yvYSeBszJbCuNY/view?usp=sharing">Presentation</a>
                </li>
                <br>
                <li>
                    <b><u>Decoding Open Source and GSoC 1 Feb'23</u></b> <br>
                    Celebrating the power of collaboration and community building! GNOME Users Group Delhi - NCR teamed up with DevUp, to conduct Decoding Open-source and GSoC at KIET Group of Institutions. With over 200 enthusiastic attendees, the event was a massive success and a testament to the thriving open-source ecosystem.
                    <br>
                    Various topics like - What is Open-Source, starting contribution in open-source, common misconceptions about it, all about GSoC, information about GNOME Foundation, technologies used by GNOME, some projects to look out for, etc... were discussed during it
                    <br>
                    Presentation available at - <a href="https://drive.google.com/file/d/1v1OOWyNISJZWACoh1LLGQjoy6HlXW3JF/view?usp=sharing">Presentation</a>
                </li>
                <br>
                <li>
                    <b><u>GSoCxBMU, 24 November 2023</u></b> <br>
                    Celebrating the power of collaboration and community building! GNOME Users Group Delhi - NCR teamed up with GDSC BMU and Sata BMU, to conduct GSoCXBMU at BML Munjal University.
                    Various topics like - What is Open-Source, starting contribution in open-source, common misconceptions about it, all about GSoC 2024, information about GNOME Foundation, technologies used by GNOME, some projects to look out for, etc... were discussed during it
                </li>
            </ol>
        </div>
    </div>
</div>
</div>
</div>
