<div id="top_nav">
    <nav class="navbar navbar-expand-sm  navbar-dark">
        <a class="navbar-brand" href="/">
            <img src="/images/gugdncr.svg" width="150" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link {{ 'gradient' if page.url == '/' }}" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ 'gradient' if '/about' in page.url }}" href="/about/">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ 'gradient' if '/events' in page.url }}" href="/events/">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ 'gradient' if '/contact' in page.url }}" href="/contact/">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ 'gradient' if '/blog' in page.url }}" href="/blog/">Blog</a>
                </li>
            </ul>
        </div>
    </nav>
</div>