---
layout: layouts/base.njk
---

<!-- Navbar  -->
{% include "layouts/navbar.njk" %}

{{ content | safe }}

<div class="text-center footer" style="margin-bottom:0">
    Copyright © 2022 GNOME Users Group, Delhi-NCR, India
</div>